Reset and Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    background-size: cover;
    background-position: center;
    color: white;
    background-color: #0d8fd5;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1; 
    position: fixed; 
    width: 100%; 
}

nav .left, nav .right {
    color: white;
}

nav .right a {
    width: 10px;
    width: 120px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

nav .right a:hover {
    text-decoration: underline;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 130px; 
    padding: 20px; 
}

.side1, .side2 {
    padding: 20px;
}

.side1 img {
    max-width: 100%;
    height: auto;
}

.side2 {
    position: relative;
    margin-top: 170px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 1000px; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.side2 h2 {
    margin-bottom: 10px;
}

.side2 p {
    margin-bottom: 15px;
    line-height: 1.5;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.copy {
    background-color: rgba(194, 184, 184, 0.5);; 
    color: #fff; 
    text-align: center; 
    padding: 5px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

.copy p {
    margin: 0; 
}
