
 body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* Remaining CSS styles */
nav {
    display: flex;
    background-color: #2926266a;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 7px;
    height: 70px;
    width: 100%;
}

.left {
    font-size: 30px; 
}

.right {
    display: flex;
    gap: 20px;
}

.right p {
    font-size: 25px; 
}

.right a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.special{
    /* padding: 20px; */
    margin: 0px 30px 0px 0px;
}
.right a:hover {
    text-decoration: underline;
}

/* .right a.signup-btn {
    background-color: #4caf50;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
} */

.right a.signup-btn:hover {
    background-color: #3e8e41;
}

.section {
    height: 500px;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #292929; /* Background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color of the scrollbar handle on hover */
}






